@using Bilirkisilik_Uygulamasi.Models.Entity
@model List<TBL_RAPORTURU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

<h2 style="margin-left: 30px; color: red">Rapor Türleri</h2>

<table class="table table-bordered" style="margin-left: 30px;">
    <tr style="background: darkblue; color: white">
        <th>ID</th>
        <th>RAPOR TÜRÜ</th>
        <th>PASİF ET</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.RAPORTURU</td>
            <td>
                <a href="/RaporTurleri/RaporTuruPasifEt/@x.ID" class="btn btn-danger">Pasif Et</a>
            </td>

            <td><a href="/RaporTurleri/RaporTuruBilgileriGetir/@x.ID" class="btn btn-success">Güncelle</a></td>


        </tr>

    }

</table>
<a href="/RaporTurleri/RaporTuruEkle/" class="btn btn-primary" style="margin-left: 30px;">Rapor Türü Ekle</a>
